// IE-8 fixes
@import "../../../assets-common/css/bootstrap/variables";
$shadow-color: #8C8C8C;

// Header
.nav.navbar-nav.navbar-fixed-right {
	margin-top: 10px;
	padding-right: 0;
}

.navbar-default {
	box-shadow: 0 0 5px $shadow-color;
	border-bottom: 1px solid #fff;
	behavior: url(assets/iefix/PIE.htc);
	-ms-behavior: url(assets/iefix/PIE.htc);
}

// Buttons
.btn-transparent:hover {
	background: transparent url(../img/btn-transparent-hover-iefix.png);
}

.navbar-float .btn-group .btn-default {
	max-width: none;
}

// Avatar
div.avatar {
	z-index: 0;
	zoom: 1;
	position: relative;
	background-size: cover;
	background-position: center center;
	// behavior: url(assets/iefix/backgroundsize.min.htc);
	// -ms-behavior: url(assets/iefix/backgroundsize.min.htc);

	&:before {
		z-index: 1;
		position: absolute;
		display: block;
		width: 120px;
		height: 120px;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-repeat: no-repeat;
	}
}

.profile-img > .avatar {
	border: none !important;
	&:before {
		background-color: transparent;
		content: url(../img/avatar-mask-white-160-iefix.png);
	}
}

.panel-heading > .panel-avatar > .avatar {
	&:before {
		background-color: transparent;
		content: url(../img/avatar-mask-white-120-iefix.png);
	}
}

.panel-body .panel-avatar > .avatar {
	&:before {
		background-color: transparent;
		content: url(../img/avatar-mask-white-60-iefix.png);
	}
}

.team-list-item > .item-profile-img > .avatar {
	border: none !important;
	&:before {
		background-color: transparent;
		content: url(../img/avatar-mask-white-50-iefix.png);
	}
}

// Score Card
.score-badge {
    zoom: 1;
    z-index: 0;
    position: relative;
    border-radius: 10px;
	behavior: url(assets/iefix/PIE.htc);
	-ms-behavior: url(assets/iefix/PIE.htc);	
}

.score {
    zoom: 1;
    z-index: 0;
    position: relative;
    border-radius: 100%;
    position: relative;
	behavior: url(assets/iefix/PIE.htc);
	-ms-behavior: url(assets/iefix/PIE.htc);
}

// Count Badges
.badge-notif, .badge {
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	position: relative;

	&:before {
		width: 9px;
		height: 19px;
		background-image: url(assets/img/badge-leftbg-iefix.png);
		background-repeat: no-repeat;
		background-position: top left;
		position: relative;
		display: inline-block;
	}

	&:after {
		width: 9px;
		height: 19px;
		background-image: url(assets/img/badge-rightbg-iefix.png);
		background-repeat: no-repeat;
		background-position: top left;
		position: relative;
		display: inline-block;
	}
}


// Carousel

.carousel-thumbnail {
	min-height: 78px;
	max-height: 78px;
}

.scroll-numbers li.active:before,
.scroll-numbers li:before {
	background-color: transparent !important;
}

.scroll-numbers li:before {
	background: url(../img/carousel-page-iefix.png) center top no-repeat;
}

.scroll-numbers li.active:before {
	background: url(../img/carousel-page-iefix.png) center bottom no-repeat;
}

// Modal Override
.modal {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.modal-backdrop {
	background-color: $gray !important;
}