// IE-8 fixes
@import "../../../assets-common/css/bootstrap/variables";
$shadow-color: #8C8C8C;

// Header
.nav.navbar-nav.navbar-fixed-right {
	margin-top: 10px;
	padding-right: 0;
}

.navbar-default {
	box-shadow: 0 0 5px $shadow-color;
	border-bottom: 1px solid #fff;
	behavior: url(assets/iefix/PIE.htc);
	-ms-behavior: url(assets/iefix/PIE.htc);
}

// Buttons
.btn-transparent:hover {
	background: transparent url(../img/btn-transparent-hover-iefix.png);
}

.btn-group {
	display: block;
}

// Avatar
div.avatar {
	border-radius: 160px;
	z-index: 0;
	position: relative;
	background-size: cover;
	background-position: center center;
	behavior: url(assets/iefix/backgroundsize.min.htc);
	-ms-behavior: url(assets/iefix/backgroundsize.min.htc);
}

.current-user-img .avatar {
	border-radius: 3px;
	behavior: url(assets/iefix/backgroundsize.min.htc);
	-ms-behavior: url(assets/iefix/backgroundsize.min.htc);
}

// Score Card
.score-badge {
    zoom: 1;
    z-index: 0;
    position: relative;
    border-radius: 10px;
	behavior: url(assets/iefix/PIE.htc);
	-ms-behavior: url(assets/iefix/PIE.htc);	
}

.score {
    zoom: 1;
    z-index: 0;
    position: relative;
    border-radius: 100%;
    position: relative;
	behavior: url(assets/iefix/PIE.htc);
	-ms-behavior: url(assets/iefix/PIE.htc);
}

// Carousel

.carousel-thumbnail {
	min-height: 78px;
	max-height: 78px;
}

.scroll-numbers li.active:before,
.scroll-numbers li:before {
	background-color: transparent !important;
}

.scroll-numbers li:before {
	background: url(../img/carousel-page-iefix.png) center top no-repeat;
}

.scroll-numbers li.active:before {
	background: url(../img/carousel-page-iefix.png) center bottom no-repeat;
}