// Core variables and mixins
@import "../../../assets-common/css/bootstrap/variables";
@import "../../../assets-common/css/bootstrap/mixins/clearfix";
@import "../../../assets-common/css/bootstrap/mixins/center-block";
@import "../../../assets-common/css/bootstrap/mixins/image";
@import "../../../assets-common/css/bootstrap/mixins/grid";
@import "../../../assets-common/css/bootstrap/mixins/css3-mixins";

// Global
body {
	background-image: url(../img/comet-bg.png);
	background-repeat: repeat;
	background-size: 50%;
	padding-bottom: $navbar-height - ($grid-gutter-width / 2);
}

// 
// Profile Information
// --------------------------------------------------
// 

// Set basic styling
.profile-info {
	@include make-row($grid-gutter-width);
}
.profile-info {
	background-color: $brand-cyan;
	margin-top: $navbar-height + 1;

	@media (max-width: $screen-xs-max) {
		padding-top: 2%;
		padding-bottom: 2%;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: $navbar-height / 2;
		padding-bottom: $navbar-height / 2;
	}

	> .profile-img {

		// @media (max-width: $screen-xs-max) {
		// 	display: none;
		// }

		// @media (min-width: $screen-sm-min) {
		// 	@include make-sm-column(2);
		// }

		// @media (min-width: $screen-md-min) {
			@include make-md-column(4);
			@include make-md-column-offset(4);
		// }

		> .avatar {
			// @media (min-width: $screen-md-min){
			// 	width: $avatar-lg;
			// 	height: $avatar-lg;
			// }
			// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
				// width: $avatar-md + ($grid-gutter-width / 2);
				// height: $avatar-md + ($grid-gutter-width / 2);
				width: $avatar-md;
				height: $avatar-md;
			// }
		}
	}

	> .profile-text {
		color: #fff;
		font-size: 1.2em;
		text-align: center;

		// @media (max-width: $screen-xs-max) {
		// 	@include make-xs-column(12);
		// 	vertical-align: middle;
		// }

		// @media (min-width: $screen-sm-min) {
			// @include make-sm-column(10);
			// text-align: left;

			> .profile-name {
				font-size: 1.5em;
			}

			> .profile-metadata {
				font-size: 0.8em;
			}
		// }

		// @media (min-width: $screen-md-min) {
			text-align: center;
			@include make-md-column(4);
			@include make-md-column-offset(4);

		// 	> .profile-name {
		// 		font-size: 2em;
		// 	}
		// }

		span {
			display: block;
			font-family: $font-family-alt;
		}
	}
}

// 
// Profile Controls
// --------------------------------------------------
// 
.navbar-controls {
	
	// Mimic mobile app navigation
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: $zindex-navbar-fixed;
	border-top: 1px solid darken($brand-cyan, 5%);

	// Reset View on larger screens
	@media ( min-width: $screen-md-min ) {
		border-top: none;
		border-bottom: 1px solid darken($brand-cyan, 5%);
		position: static;
		z-index: $zindex-navbar-fixed;
	}

	@include make-row;
}

.navbar-controls {
	> .navbar-control-btns {
		position: relative;
		@include make-xs-column(12);

		@media (min-width: $screen-sm-min) {
			@include make-sm-column(8);
			@include make-sm-column-offset(2);
		}

		@media (min-width: $screen-md-min) {
			@include make-md-column(6);
			@include make-md-column-offset(3);
		}
	}
}

.navbar-control-btns {
	> .btn-group {
		.btn-group {
			.btn {
				@media (max-width: $screen-xs-max) {
					padding-top: 2%;
					padding-bottom: 2%;
				}

				> .md {
					@media (max-width: $screen-xs-max) {
						font-size: 1em;
					}

					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
						font-size: 1.3em;
					}

					@media (min-width: $screen-md-min) {
						font-size: 1.5em;
					}
				}
					
				> span {
					@media (max-width: $screen-xs-max) {
						font-size: 0.8em;
					}

					@media (min-width: $screen-md-min) {
						font-size: 1em;
					}
				}
	
			}
		}
	}

	.btn-group.active {
		&:after, &:before {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			left: 50%;
			bottom: 100%;
			pointer-events: none;

			@media (min-width: $screen-md-min) {
				top: 100%;
			}
		}

		&:after {
			border-color: rgba(136, 183, 213, 0);
			border-width: 10px;

			border-bottom-color: $brand-cyan;
			margin-left: -10px;

			@media (min-width: $screen-md-min) {
				border-top-color: $brand-cyan;
				border-bottom-color: transparent;
				margin-left: -10px;
			}
		}

		&:before {
			border-color: rgba(231, 231, 231, 0);
			border-width: 11px;

			border-bottom-color: darken($brand-cyan, 7%);
			margin-left: -11px;

			@media (min-width: $screen-md-min) {
				border-top-color: darken($brand-cyan, 7%);
				border-bottom-color: transparent;
				margin-left: -11px;
			}
		}
	}
}

.navbar-cyan {
	background-color: $brand-cyan;
	color: #fff;
	font-family: $font-family-alt;
}

.navbar-float {
	> .well {
		margin-bottom: 0;
		padding-top: $well-padding - 5;
		padding-bottom: $well-padding - 5;
		background-color: transparentize(#fff, 0.5);
		border: 1px solid darken($gray-lighter, 10%);
		border-bottom: 1px solid lighten($gray-light, 25%);
	}
}

// 
// Main Menu
// --------------------------------------------------
// 
.current-user-profile {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-right: 1px solid $gray-lighter;

	&:hover {
		border-right: 1px solid transparent;
	}

	// Negate padding-top and padding-bottom
	> .btn-group {
		> .btn.btn-sm {
			margin-top: -7px;
			margin-bottom: -9px;
			padding: 5px 16px;
		}
	}

	.current-user-img {
		width: 40px;
		height: auto;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}

	.current-user-name {
		color: $gray;
		vertical-align: bottom;
		font-size: 1.2em;
		display: inline-block;

		&:before {
			content: "Hello,";
			text-transform: uppercase;
			font-size: 0.9em;
			color: $gray-light;
			text-align: right;
			position: absolute;
			top: 10px;
			left: 16px;
		}

		> span {
			max-width: 120px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			vertical-align: bottom;
		}
	}

	.md {
		vertical-align: middle;
	}
}

.md-alert-custom {
	font-size: 1.8em;
	vertical-align: -50%;
}

.badge-notif {
	padding: 4px;
	display: block;
	width: auto;
	min-width: 18px;
	height: 18px;
	border-radius: 18px;
	position: absolute;
	top: -1px;
	margin-left: 10px;
	font-size: 1em;
	text-align: center;
	line-height: 12px;

	$red: rgba($brand-red, .9);
	background-color: darken($red, 5%);
	color: #fff;
	@include box-shadow(0,2px,0,rgba(0,0,0,0.2));

	// Hide badge if empty
	&:empty {
		display: none;
	}
}

// 
// Score Card
// --------------------------------------------------
// 

// Score Card, Feedback, and BLAST! containers
.timeline-card, .navbar-float {
	margin-top: $grid-gutter-width;
	@include make-xs-column(12);
	@include make-lg-column(10);
	@include make-lg-column-offset(1);
}

// Timeline
.timeline-card {

	// Panel heading
	.panel-heading {
		padding-bottom: 0;
		padding-top: $panel-heading-padding;
		.panel-avatar {
			display: table-cell;
			.avatar {
				@media (max-width: $screen-xs-max) {
					width: $avatar-xs;
					height: $avatar-xs;	
				}
				@media (min-width: $screen-sm-min) {
					width: $avatar-sm;
					height: $avatar-sm;
				}
			}
		}
		.panel-heading-content {
			display: table-cell;
			vertical-align: top;
			padding-left: $grid-gutter-width;

			.subject-heading {
				display: block;
				clear: both;
				@media (max-width: $screen-xs-max) {
					font-size: $font-size-h3;
				}
				@media (min-width: $screen-sm-min) {
					font-size: $font-size-h2;
				}
			}

			.subject-sub-heading {
				display: block;
				clear: both;
				@media (max-width: $screen-xs-max) {
					font-size: $font-size-h5;
				}
				@media (min-width: $screen-sm-min) {
					font-size: $font-size-h4;
				}
			}
		}
		.panel-author-post {
			@media (min-width: $screen-sm-min) {
				margin-left: $avatar-sm + $grid-gutter-width;
			}
		}

	}

	// Panel Body
	.panel-body {

		// Open comments and write a reply
		> .panel-comment-controls {
			margin-bottom: 5px;
			margin-left: $avatar-sm + $grid-gutter-width;
		}

		> .panel-comment {
			margin-top: $grid-gutter-width;
		}

		.panel-comment {
			@include clearfix();
			margin-bottom: $grid-gutter-width;

			// Resize Avatar
			> .panel-avatar {
				display: table-cell;
				vertical-align: middle;
				padding-top: 5px;

				@media (max-width: $screen-xs-max) {
					width: $avatar-xs;
				}
				@media (min-width: $screen-sm-min) {
					width: $avatar-sm;
				}

				.avatar {
					@media (max-width: $screen-xs-max) {
						width: $avatar-xs;
						height: $avatar-xs;	
					}
					@media (min-width: $screen-sm-min) {
						width: $avatar-xs;
						height: $avatar-xs;
					}
				}
			}
			
			// Formatting replies
			> .panel-post-reply, .panel-comment-input {
				display: table-cell;
				vertical-align: top;
				position: relative;
				padding-left: $grid-gutter-width;
			}
		}
	}
}

// 
// BLAST! Library
// --------------------------------------------------
// 

// Selected Measures
.selected-measures {
	background-color: transparent;
	border-radius: $border-radius-base;
	padding: 5px;
	max-height: 300px;
	overflow: auto;

	.selected-measure-item {
		@include box-shadow(0,1px,2px,rgba(116, 116, 116, 0.3));
		@include background-gradient(#474747, #3D3D3D);
		display: inline-block;
		color: #fff;
		border-radius: 3px;
		border: 1px solid #CFCBCB;
		border-bottom-color: #B3B3B3;
		margin: 2px;
		padding: 1px 1px 1px 13px;

		> .measure-name {
			min-width: 50px;
			max-width: 200px;
			margin-top: 5px;
			margin-right: 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			position: relative;
			float: left;
		}
	}
}

// Carousel
.carousel {
	margin-top: $grid-gutter-width / 2;
	@include make-xs-column(12);
	@include make-lg-column(10);
	@include make-lg-column-offset(1);

	.carousel-scroll {
		display: block;
		overflow-x: hidden;
		overflow-y: hidden;
		max-height: 105px;
		position: relative;
	}

	.carousel-list {
		@include make-md-column(12,0);
		padding: 1px;
		overflow: hidden;
		list-style-type: none;
		background-color: #BBB;
		border-radius: 1px;
		position: relative;

		.carousel-item {
			counter-increment: step-counter;
			position: relative;
			min-height: 1px;
			padding: 1px;
			margin-bottom: 1px;
			float: left;
			width: percentage(( 1 / 5));
		}
	}
}

.carousel-thumbnail {
	$zindex: 1;
	min-height: 100px;
	max-height: 100px;
	padding: $padding-base-vertical $padding-base-horizontal;
	color: #fff;
	text-align: center;
	background-color: $brand-cyan;
	border-radius: 1px;
	border: 1px solid darken($brand-cyan, 4%);
	border-top-color: darken($brand-cyan,3%);
	border-bottom-color: darken($brand-cyan,5%);
	@include box-shadow(0,1px,2px,rgba(116, 116, 116, 0.3));

	&:hover {
		@include transition (all 0.3s cubic-bezier(.26,.51,.34,.98));
		cursor: pointer;
		&:before {
			@include transition (all 0.3s cubic-bezier(.26,.51,.34,.98));
			background-color: $brand-orange;
			content: '\f03f';
			font-family: 'Material-Design-Iconic-Font';
		}
	}
	&:before {
		content: counter(step-counter);
		position: absolute;
		bottom: 5px;
		left: 10%;
		margin-left: -0.7em;
		width: 1.4em;
		height: 1.4em;
		border-radius: 0.1em;
		color: #fff;
		text-align: center;
		font-size: 1.8em;
		background-color: $brand-lightcyan;
		z-index: $zindex + 3;
	}

	&:after {
		display: block;
		position: absolute;
		left: 2px;
		right: 2px;
		bottom: 0;
		height: 1.5em;
		background-color: darken($brand-cyan,10%);
		margin-top: -0.7em;
		z-index: $zindex;
	}

	> .carousel-title {
		font-size: 1.15em;
		display: block;
		word-wrap: break-word;
		overflow: hidden;
		max-height: 45px;
	}

	> small {
		position: absolute;
		right: 8px;
		bottom: 1px;
		display: block;
		max-width: 70%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		z-index: $zindex + 1;

		&:before {
			font-family: 'Material-Design-Iconic-Font';
			color: #fff;
			content: '\f197';
		}
	}
}

.carousel-scroll-controls {
	display: block;
	text-align: center;
	width: auto;
	margin-top: 15px;

	button.btn.nav {
		display: inline-block;
		margin: 0;
		padding: 5px;
		text-align: center;
		color: $brand-cyan;
	}

	> .scroll-numbers {
		list-style-type: none;
		padding-left: 0;
		display: inline-block;
		li {
			counter-increment: page-counter;
			text-align: center;
			display: inline-block;
			font-family: $font-family-bold;
			width: 20px;
			height: 20px;
			margin: 1px 5px;
			&:hover {
				cursor: pointer;
				@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));

				&:before{ 
					@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
					background-color: $brand-cyan;
				}
			}
			&:before {
				content: counter(page-counter);
				position: relative;
				display: inline-block;
				width: 20px;
				height: 20px;
				border-radius: 1.3em;
				font-size: 1em;
				text-align: center;
				background-color: $brand-orange;
				color: #fff;
			}
			&.active:before {
				@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
				background-color: $brand-cyan;
				text-align: center;
			}
		}
	}
}

// Library Card
.library-card {
	@include clearfix();
	position: relative;
	min-height: 250px;

	&:hover > .panel-default-timeline {
		outline: 3px solid $brand-orange;
		cursor: pointer;
	}

	.library-controls {
		position: absolute;
		top: auto;
		right: 1px;
		bottom: 22px;
		left: 1px;
		width: auto;
		padding: 30px;
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
		border-top: 1px solid #CDCDCD;
		background-color: rgba(247,247,247,0.93);
		@include box-shadow(0, -1px, 7px, rgba(0,0,0,0.18));
	}

	// Panel heading
	.panel-heading {
		padding-top: $panel-heading-padding;

		.panel-heading-content {
			display: table-cell;
			vertical-align: top;

			.subject-heading {
				display: block;
				clear: both;
				@media (max-width: $screen-xs-max) {
					font-size: $font-size-h3;
				}
				@media (min-width: $screen-sm-min) {
					font-size: $font-size-h2;
				}
			}

			.subject-sub-heading {
				display: block;
				clear: both;
				@media (max-width: $screen-xs-max) {
					font-size: $font-size-h5;
				}
				@media (min-width: $screen-sm-min) {
					font-size: $font-size-h4;
				}
			}
		}
	}

	.panel-body {
		padding-top: 0 ;
	}
}

// Input box
.panel-comment-input {
	.comment-input {
		resize: none;
		padding-right: 105px;
	}

	.btn {
		position: absolute;
		top: 11px;
		right: 15px;
	}	
}

// Thought Balloon
.thought-balloon {
	background-color: $well-bg;
	border-radius: $border-radius-base * 3;
	border: 1px solid darken($well-bg, 1%);
	border-bottom-color: darken($well-bg, 5%);
	padding: $grid-gutter-width / 2;
	position: relative;

	.h4 { margin-right: 40px; }

	.date {
		margin-top: -35px;
		margin-bottom: 25px;
		text-align: center;
	}

	.btn-float {
		right: 15px !important;
	}

	// p { font-size: 0.9em; }

	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-right-color: $well-bg;
		border-width: 9px;
		margin-top: -9px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-right-color: darken($well-bg, 4%);
		border-width: 10px;
		margin-top: -10px;
	}
}

// Score Card table
.score-card {
	$basepx: 100px !default;

	> .panel-heading {
		// padding-bottom: 0;
		// padding-top: $panel-heading-padding;

		.score-card-controls {
			margin-top: -13px;
			margin-right: -15px;
		}
	}

	> .panel-footer {
		margin-top: 20px;
	}
}

// Score Card Final Score
.score-card-finalscore {
	$basepx: 100px !default;
	margin-top: -($basepx - 15);
	text-align: center;
	@include make-row();

	> .score {
		text-align: center;
		color: #fff;
		font-size: 2em;
		font-family: $font-family-bold;
		width: $basepx;
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		padding: $panel-body-padding 0;
		@include border-radius(100px);

	}

	&:after {
		text-align: center;
		font-size: 1.2em;
		font-family: $font-family-bold;
		position: relative;
		@include center-block();
		color: $gray;
		content: "Overall Month to Date Rating";
	}
}

// Score Legend for Static
.score-legend {
	margin-bottom: 15px;
	margin-top: 15px;
	$basepx: 8px;
	display: table;
	@include make-xs-column(12);

	> span {
		font-size: 0.8em;
		margin: 0 $basepx;
		float: right;

		> i {
			content: "";
			display: inline-block;
			width: $basepx;
			height: $basepx;
			border-radius: $basepx;
		}
	}
}

// Rating System
.feedback-rating-item {
	display: inline-block;
	margin-left: 15px;
	border-left: 1px solid darken($well-bg, 16%);
	padding: 4px 0 6px 15px;

	> span {
		&.rate-default * { color: inherit; }
		&.rate-one * { color: $brand-red; }
		&.rate-two * { color: $brand-burgundy; }
		&.rate-three * { color: $brand-green; }
		&.rate-four * { color: $brand-cyan; }
		&.rate-five * { color: $brand-orange; }
	}

	.rating {
		&:after {
			content: " / 5";
		}
	}
}


// Style the table header
.score-card-heading-row {
	border-bottom: 2px solid lighten($gray-light, 30%);

	> .score-item-category {
		padding-bottom: 0 !important;
		margin-top: -($grid-gutter-width / 2);
		margin-bottom: $grid-gutter-width / 2;
		> span {
			font-size: 1.8em;
		}
	}

	> .score-item-group {
		> .score-item-xs {
			span {
				font-size: 0.92em;
			}
		}
	}

	// Force text to center
	@media (max-width: $screen-sm-max) {
		> .score-item-category {
			text-align: center;
		}
	}
}

// Style the table body
.score-card-body-row {
	border-top: 1px solid darken($gray-lighter, 12%);

	// If Void
	&.row-muted {
		background-color: darken($gray-lighter, 12%);
		color: #696969;
		.score-item-xs span, .score-measure {
			text-decoration: line-through;
		}
		.score-badge, .score-status {
			text-decoration: initial !important;
		}
	}

	&:first-child { border-top: none; }

	// Force text to center on smaller screens
	> .score-item-category {
		@media (max-width: $screen-sm-max) {
			text-align: center;
			background-color: $gray-lighter;
			border-bottom-left-radius: $border-radius-base;
			border-bottom-right-radius: $border-radius-base;
		}
	}

	> .score-item-category, > .score-item-group {
		> .score-item-xs > span {
			font-size: 2em;

			@media (min-width: $screen-md-min) {
				font-size: 1.4em;
			}
		}

		// Score Card Indicators
		.score-measure {
			font-size: 1em;
		}

		.score-status {
			display: block;
			clear: both;
			font-size: 0.8em;
			text-transform: uppercase;
			margin-top: 1%;
		}

		> .score-item-xs > small {
			text-transform: uppercase;
			@media (max-width: $screen-sm-max) {
				display: block;
				width: 100%;
				clear: both;
				text-align: center;
				margin: auto auto;
			}

			@media (min-width: $screen-md-min) {
				display: none;
				content: "";
			}
		}

		// Score Badge
		> .score-item-xs > .score-badge {
			color: #fff;
			font-size: 0.7em;
			text-transform: uppercase;
			display: inline-block;
			max-width: 80px;
			margin-top: 5px;
			padding: 0.3em 0.5em;
			border-radius: 2em;

			&.ongoing {
				background-color: $brand-cyan;
			}

			&.pending {
				background-color: $brand-burgundy;
			}

			&.void {
				background-color: $gray;
			}

			&.done {
				background-color: $brand-green;
			}
		}

		// Adjust the icon
		> .score-item-xs > .md {
			@media (min-width: $screen-md-min) {	
				margin-top: -7px;
			}
		}
	}
}

// Style the entire table
.score-card-table {
	@include make-row();

	&:hover .score-card-head > .score-card-heading-row span {
		color: $brand-blue;
	}
	
	& + .score-divider {
		margin-left: -$grid-gutter-width;
		margin-right: -$grid-gutter-width;
		margin-bottom: $grid-gutter-width;
		margin-top: $grid-gutter-width / 2;
		border-top: 1px solid #BEBEBE;
		border-bottom: 1px solid #E4E4E4;
	}
	
	> .score-card-head,
	> .score-card-body {
		@include make-xs-column(12, 30px);
	}
	
	.score-card-heading-row, .score-card-body-row {
		@include clearfix();
		> div {
			text-align: center;
			padding-top: $grid-gutter-width / 2 ;
			padding-bottom: $grid-gutter-width / 2 ;

			&:empty {
				background: transparent;
				content: "";
			}
		}

		// Align text to left
		@media (min-width: $screen-md-min) {
			> .score-item-category {
				text-align: left;
			}
		}

	}


	// Responsive table cells for smaller screens
	@media (max-width: $screen-sm-max) {
		.score-item-category,
		.score-item-group,
		.score-item-button {
			@include make-xs-column(12);
		}
	}

	// Responsive table cells for larger screens
	.score-item-category {
		@include make-md-column(3, 10px);
	}

	// Create a 7 column cell instead of the 12
	.score-item-group {
		@include make-md-column(8,0);

		> .score-item-xs {
			@media (max-width: $screen-xs-max) {
				margin-top: $grid-gutter-width / 2;
				margin-bottom: $grid-gutter-width / 2;
				@include make-xs-column(6, 10px);
			}

			@media (max-width: $screen-sm-max) {
				margin-top: $grid-gutter-width / 2 ;
				margin-bottom: $grid-gutter-width / 2;
				@include make-sm-column(3, 10px);
			}
	
			@media (min-width: $screen-md-min) {
				position: relative;
				min-height: 1px;
				padding-left: 5px;
				padding-right: 5px;
				float: left;
				width: percentage(( 1 / 7));
			}
		}
	}

	// Create a place for the Actions button
	.score-item-button {
		@include make-md-column(1, 10px);
	}
}

.score-divider:first-child {
	display: none !important;
}

// Background Colors
.score-positive {
	background-color: $brand-green;
	color: #fff;
}

.score-negative {
	background-color: $brand-red;
	color: #fff;
}

// Override the Bootstrab tab for score card styling
.nav-tabs {
	border: none;

	> li {
		
		&.active { 
			a {
				color: $brand-cyan;
				&:hover, &:focus {
					color: $brand-cyan;
				}
			}
		}

		> a {
			color: $gray-light;

			.md {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}
}

// Editable Data from Score Card
.commit-edit {
	&.locked {

		&:hover {
			cursor: pointer;
		}

		&:after {
			font-size: 14px;
			font-family: 'FontAwesome', $font-family-base;
			content: "\f023";
			color: $brand-cyan;
			position: absolute;
			bottom: 5px;
			margin-left: 5%;
		}

		&:hover:after {
			font-size: 14px;
			font-family: 'FontAwesome', $font-family-base;
			content: "\f09c\00a0 edit";
			color: $brand-warning;
		}

		> .commit-edit-input {
			display: none;
		}

		> .commit-edit-display {
			display: inline-block;
		}

		~ .commit-controls {
			display: none;
		}
	}

	&.unlocked {
		> .commit-edit-input {
			display: inline-block;
			text-align: center;
			font-family: $font-family-base;
			font-size: 1em;
			color: $brand-green;
			margin-top: -3px;

			&::-ms-clear {
				display: none;
			}
		}

		> .commit-edit-display {
			display: none;
			font-style: normal;
		}

		+ .commit-controls {
			position: relative;
			width: 90px;
			right: -95px;
			margin-top: -60px;
			z-index: $zindex-dropdown - 1;
		}
	}
}


// 
// Team Search
// --------------------------------------------------
// 

.team-panel {
	position: fixed;
	z-index: $zindex-dropdown - 1;
	top: $navbar-height + 2;

	@media (max-width: $screen-xs-max) {
		left: auto;
		right: 0;
		bottom: 50px;
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		left: auto;
		right: 0;
		bottom: 0;
		width: 362px;
	}

	// Closed State
	display: none;

	// Opened State
	&.in {
		display: block !important;
		&:after, &:before {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			right: 32px;
			bottom: 100%;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(136, 183, 213, 0);
			border-width: 5px;
			border-bottom-color: $brand-cyan;
			margin-left: -5px;
		}

		&:before {
			border-color: rgba(231, 231, 231, 0);
			border-width: 6px;
			border-bottom-color: darken($brand-cyan, 7%);
			margin-left: -6px;
		}
	}
}

.team-search {
	background-color: $brand-cyan;
	bottom: 0;
	@include box-shadow(-5px, 7px, 40px, rgba(0,0,0,0.2));

	> .team-input-group {
		padding: ($grid-gutter-width / 2) - 3;

		> .search-input {
			color: #fff;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding-left: 45px;
			border-bottom: 1px solid lighten($brand-cyan, 30%);

			&:focus, &:active {
				border-bottom: 2px solid lighten($brand-cyan, 50%);
			}

			&::-webkit-input-placeholder {
			   color: #fff;
			}

			&:-moz-placeholder { color: #fff; }
			&::-moz-placeholder { color: #fff; }
			&:-ms-input-placeholder { color: #fff; }
		}

		> span {
			color: #fff;
			display: block;
			position: absolute;
			top: 20px;
			left: 15px;
		}
	}

	> .team-list-group {
		padding: $grid-gutter-width / 2;
		overflow-y: auto;
		overflow-x: hidden;
	}

	@media (max-width: $screen-xs-max) {
		width: 100%;
		border: none;
	}

	@media (min-width: $screen-sm-min) {
		width: 362px;
		border-left: 1px solid darken($brand-cyan, 10%);
	}
}

// Main Team List
.team-list {
	$item-baseheight: 50px;

	display: table;
	width: 100%;
	.team-list-item {
		@include make-row();

		&:hover {
			cursor: pointer;

			> .item-profile-img > .avatar {
				border-color: $brand-orange;
				@include transition (border-color 0.3s cubic-bezier(.26,.51,.34,.98));
			}
		}

		> .item-profile-img {
				padding: $grid-gutter-width / 2;
				padding-top: 0;
				display: inline-block;
				float: left;
				background-color: $brand-cyan;

			> .avatar {
				border: 2px solid #fff;
				@include transition (border-color 0.3s cubic-bezier(.26,.51,.34,.98));
				width: $item-baseheight;
				height: $item-baseheight;
			}
		}

		> .item-profile-metadata {
			overflow: hidden;
			height: $item-baseheight + (($grid-gutter-width / 2) / 2);
			max-height: $item-baseheight + (($grid-gutter-width / 2) / 2);
			border-bottom: 1px solid lighten($brand-cyan, 30%);
		}
	}
}

// Direct Reports
.team-sublist {
	.team-list-item {
		margin-left: 0;
		.item-profile-img:after {
			display: block;
			content: "";
			width: 2px;
			height: $grid-gutter-width / 2;
			background-color: #fff;
			position: absolute;
			left: 24px;
			margin-top: -65px;
		}

		&:hover > .item-profile-img:after {
			background-color: $brand-orange;
		}
	}
}

.item-profile-metadata {
	span {
		color: #fff;
		clear: right;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		clear: both;
		font-size: 1.2em;
		& + span {
			font-size: 0.9em;
		}
	}

	.mask {
		display: block;
		text-align: center;
		color: #fff;
		position: absolute;
		width: $grid-gutter-width * 2;
		height: $grid-gutter-width * 2;
		margin-top: -45px;
		padding: 5px 0;
		right: 0;
		z-index: $zindex-dropdown - 2;
		background-image: url(../img/mask.png);
		background-repeat: repeat-y;
		background-color: transparent;
		
		> i {
			font-size: 1.2em;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

// Change Profile Photo
.modal-body-profile {
	display: table;
	width: 100%;
	padding: $grid-gutter-width;
	background-color: $brand-cyan;
	border-bottom-right-radius: $border-radius-base;
	border-bottom-left-radius: $border-radius-base;

	.profile-img {
		padding: $grid-gutter-width / 2 ;
		position: relative;

		.avatar {
			width: $avatar-lg;
			height: $avatar-lg;
			position: relative;
		}

		.avatar-picker {
			width: $avatar-lg - 10;
			height: $avatar-lg - 10;
			position: relative;
			border-radius: $avatar-lg;
			background-color: rgba(255,255,255,0.1);

			.icon {
				display: table-cell;
				width: $avatar-lg - 10;
				height: $avatar-lg - 10;
				vertical-align: middle;
				> i.md {
					display: block;
					text-align: center;
					color: #fff;
					opacity: 0.3;
				}
			}

			&:hover {
				cursor: pointer;
				background-color: rgba(255,255,255,0.3);

				.icon {
					> i.md {
						color: #fff;
						opacity: 0.8;
					}
				}
			}
		}

		.avatar-picker > .picker {
			width: $avatar-lg;
			height: $avatar-lg;
			position: absolute;
			top: 0;
			left: 0;
			// visibility: hidden;
			opacity: 0;
			z-index: $zindex-modal;
		}
		.picker {
			&:hover {
				cursor: pointer;
			}

			&:active, &:focus {
				outline: none;
			}
		}
	}

	.profile-change-control {
		display: block;
		clear: both;
		position: relative;
	}

}

// 
// Trends and Forecast
// --------------------------------------------------
//
.list-group {
	.list-group-item {
		display: block;
		clear: both;

		.list-group-heading {
			margin-top: 5px;
		}

		i.md {
			position: absolute;
			top: 20px;
			right: 15px;
		}
	}
}

.list-item {
	display: table;
	width: 100%;
	position: relative;
	vertical-align: middle;
	border-collapse: separate;

	> .list-group-heading {
		@include clearfix();
	}

	.list-sub-item {
		display: table-cell;
		float: none;
		position: relative;
		width: 27%;

		&:last-child {
			width: 46%; 
		}
		
		span {
			display: block;
			position: relative;
			text-align: center;
			&:last-child {
				font-size: 1.5em;
			}
		}

		> span {
			font-size: 1em;
		}
	}
}

// Special colored panels for Trends and Forecast
.panel-colored {
  margin-bottom: $line-height-computed;
  position: relative;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 3px rgba(116, 116, 116, 0.3));
  @include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
  color: #fff;
}

.panel-colored.closed {
  &:hover {
  	@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
  	cursor: pointer;

  	&:before {
  		font-size: 0.8em;
  		content: 'EXPAND';
  		text-transform: uppercase;
  		display: block;
  		position: absolute;
  		bottom: 9px;
  		margin-left: -40px;
  		left: 50%;
  	}

  	&:after {
  		font-size: 1.2em;
  		font-family: 'Material-Design-Iconic-Font';
  		content: '\f2a6';
  		text-transform: uppercase;
  		display: block;
  		position: absolute;
  		bottom: 5px;
  		margin-left: -60px;
  		left: 50%;
  	}
  }
}

.panel-colored-heading {
	padding: $panel-heading-padding / 2 ;
	position: relative;

	.panel-status-indicator {
		width: 2.3em;
		height: 2.3em;
		text-align: center;
		background-color: #fff;
		border-radius: 2.3em;
		position: absolute;
		top: 30px;
		right: 30px;

		i.md {
			margin-top: -3px;
		}
	}
}

.panel-colored-body {
  padding: $panel-body-padding / 2;
  padding-top: 0;
  @include clearfix; 
}

.panel-colored-orange { 
	background-color: $brand-orange;
	&:hover {
		background-color: darken($brand-orange, 3%)
	}
}
.panel-colored-green { 
	background-color: $brand-green;
	&:hover {
		background-color: darken($brand-green, 3%)
	}
}
.panel-colored-cyan { 
	background-color: $brand-cyan;
	&:hover {
		background-color: darken($brand-cyan, 3%)
	}
}
.panel-colored-red { 
	background-color: $brand-red;
	&:hover {
		background-color: darken($brand-red, 3%)
	}
}
.panel-colored-purple { 
	background-color: $brand-purple;
	&:hover {
		background-color: darken($brand-purple, 3%)
	}
}
.panel-colored-burgundy { 
	background-color: $brand-burgundy;
	&:hover {
		background-color: darken($brand-burgundy, 3%)
	}
}
.panel-colored-blue { 
	background-color: $brand-blue;
	&:hover {
		background-color: darken($brand-blue, 3%)
	}
}

// 
// Reports / Team Stats
// --------------------------------------------------
//
.rating-team-group {
	display: table;
	width: 100%;
	text-align: center;
}
.rating-team {
	display: table-cell;
	width: 50%;
	text-align: center;

	> .rating-title {
		text-align: center;
	}

	> .rating-team-value {
		font-size: 2em;
		width: 4em;
		height: 4em;
		padding: 37px;
		border-radius: 4em;
		color: #fff;
		background-color: $brand-cyan;
		display: inline-block;
		text-align: center;
		text-indent: -5px;
		&:after {
			content: '%';
		}
	}
}

// Misc Helpers and Utilities
.btn-group { border-radius: $border-radius-base; }

.alert {
	.btn {
	  position: absolute;
	  top: 13px;
	  right: $grid-gutter-width / 2;
	}
}

.inline-block {
	display: inline-block;
}

.form-group-inline.inline-block {
	margin-right: 15px;

	&:last-child { margin-right: 0; }
}

.modal-scroll-container {
	background-image: url(../img/comet-bg.png);
	background-repeat: repeat;
	background-size: 50%;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-scroll-container-xs {
	background-color: transparent;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #fff;
	padding-bottom: $grid-gutter-width / 2;
	padding-top: 10px;
}

.scroll-shadow {
	position: relative;
	width: 100%;
	height: 15px;
	opacity: 0.19;
	display: block;
	border-radius: 100%
}

.scroll-shadow-bottom {
	margin-top: -6px;
	margin-bottom: -5px;
	background-color: rgba(19, 43, 53, 0);
	/* IE9, iOS 3.2+ */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiM0YmFkZDIiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(0, 0, 0, 0)),color-stop(0.25, rgba(0, 0, 0, 0)),color-stop(0.5, rgb(0, 0, 0)),color-stop(0.5, rgba(75, 173, 210, 0)),color-stop(1, rgba(0, 0, 0, 0)));
	/* Android 2.3 */
	background-image: -webkit-repeating-linear-gradient(top,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 25%,rgb(0, 0, 0) 50%,rgba(75, 173, 210, 0) 50%,rgba(0, 0, 0, 0) 100%);
	/* IE10+ */
	background-image: repeating-linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 25%,rgb(0, 0, 0) 50%,rgba(75, 173, 210, 0) 50%,rgba(0, 0, 0, 0) 100%);
	background-image: -ms-repeating-linear-gradient(top,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 25%,rgb(0, 0, 0) 50%,rgba(75, 173, 210, 0) 50%,rgba(0, 0, 0, 0) 100%);
}
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .scroll-shadow-bottom {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#00000000",GradientType=0);
    }
}

.push-down {
	margin-top: $navbar-height + $grid-gutter-width;
}

.no-border-left {
	border-left: none !important;
	padding-left: 0 !important;
}
.btn-divider {
	display: inline-block;
	width: 1px;
	height: 30px;
	color: #fff;
	content: '';
	background-color: $gray;
	vertical-align: middle;
}

.align-top {
	vertical-align: top !important;
}

.h_list-group-custom {
	.list-group-item {
		border-radius: 0;
		border-left: 0;
		border-top: 0;
		margin-bottom: 0;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: none;
		}
	}
}

.h_reduce-top-margin { margin-top: 10px; }
.h_remove-bottom-margin { margin-bottom: 0; }
.h_remove-bottom-padding { padding-bottom: 0; }
.h_remove-top-padding { padding-top: 0; }

.h_justified {
	display: table;
	width: 100%;

	.h_justified-group {
		display: table-cell;
		width: 50%;
		padding-right: 4px;

		&:last-child {
			padding-right: 0;
			padding-left: 4px;
		}

		.control-label {
			text-transform: uppercase;
			color: #555;
			font-size: 0.7em;
		}
	}
}

// FOR JS - Initialize what needs to be hidden
.js_init_hidden { display: none; }
.js_reply { vertical-align: top; }
